#home ul li {
  position: relative;
}

#home ul li span {
  color: #FFFFFF;
  text-shadow: rgba(0,0,0,.7) 0 1px 2px;
}

#home ul li .token {
  float: left;
  margin-right: 10px;
  left: 10px;
  top: 10px;
}

#home ul li .name {
  padding-right: 75px;
  position: absolute;
}

#home ul li .modifier {
  right: 120px;
  position: absolute;
}
#home ul li .edit {
  position: absolute;
  top: 5px;
  right: 60px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 3px;
  border-width: 0 5px;
  -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}

#home ul li .score {
  background:#d9d9d9;
  top: 8px; 
  right: 65px;
  color:#595959;
  text-shadow:#e6e6e6 0 1px 0;
  z-index:10;
  font-size:16px;
  font-weight:bold;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:block;
  width:50px;
  font: 16px "Helvetica Neue", Helvetica;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  line-height: 16px;
  padding: 2px 8px 4px 8px;
}

#home ul li .delete {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 3px;
  border-width: 0 5px;
  -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}

#home .topbar {
  padding: 10px;
  font: 16px "Bazooka", Bazooka;
}
#combat ul li .delay {
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 3px;
    border-width: 0 5px;
    -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
}


